body{
	background-color: #f5f5f5;
}
body a{
	color: #000;
}
.topContentLeft a{
	margin: 0 10px;
}
.topContentLeft em{
	display: inline-block;
	width: 22px;
	height: 16px;
	margin-left: -10px;
	margin-right: 10px;
	vertical-align: middle;
	background-image: url(../img/shoppingCar/car_logo1.png);
}
#carHeader{
	position: relative;
	min-width: 1190px;
	height: 120px;
}
.carHeaderInfo{
	background-color: #fff;
	height: 120px;
}
.carHeaderInfoContent{
	padding: 25px 0;
}
.carHeaderContentLeft{
	width: 300px;
	height: 40px;
}
.carHeaderContentLeft a{
	margin: 5px 0;
	height: 30px;
}
.carHeaderContentRight{
	width: 503px;
	position: relative;
	height: 70px;
}
.carHeaderContentRightBorder{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: #eee;
}
.carHeaderRightStep{
	margin-right: 101px;
	border-bottom: 3px solid #eee;
	position: relative;
}
.carHeaderRightStep1{
	width: 82px;
	border-bottom: 3px solid #000;
	/*background-color: #000;*/
}
.carHeaderRightStep1 em{
	background-position: -22px 0;
}
.carHeaderRightStep2{
	width: 123px;
}
.carHeaderRightStep2 em{
	width: 123px;
	background-position: -124px -50px;
}
.carHeaderRightStep3{
	width: 96px;
	margin-right: 0;
}
.carHeaderRightStep3 em{
	width: 96px;
	background-position: -138px -100px;
}
.checkoutStep{
	display: block;
	width: 82px;
	height: 50px;
	background-repeat: no-repeat;
	margin-top: 7px;
	margin-bottom: 10px;
	/*background: red;*/
	background-image: url(../img/shoppingCar/shoppingbag_header_step.png);
}
#checkoutPosition{
	margin-top: 60px;
	min-width: 1190px;
	position: relative;
}
.checkoutPositionContent{
	height: 40px;
}
.checkoutPositionContentP{
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	color: #333;
	background: #fff;
}
.checkoutProduct{
	margin-top: 40px;
	position: relative;
}
.checkoutTable{
	/*height: 651px;*/
	background-color: #fff;
	position: relative;
}
.checkBox{
	display: block;
	position: absolute;
	left: 20px;
	top: 16px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background-position: -28px 0;
	background-repeat: no-repeat;
}
.checkIcon{
	background-image: url(../img/shoppingCar/shoppingCar_input_checkbox.png);
}
.checkoutTableHeader{
	height: 47px;
	line-height: 47px;
	padding: 0 40px 0 44px;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
}
.checkoutTableHeader li{
	display: inline-block;
	color: #333;
}
.checkoutTableHeader li:nth-child(1){
	width: 120px;
	/*background: red;*/
}
.checkoutTableHeader li:nth-child(2){
	width: 464px;
	/*background: aliceblue;*/
}
.checkoutTableHeader li:nth-child(3){
	width: 150px;
	/*background: green;*/
}
.checkoutTableHeader li:nth-child(4){
	width: 160px;
	text-indent: 15px;
}
.checkoutTableHeader li:nth-child(5){
	width: 144px;
}
.checkoutTableHeader li:nth-child(6){
	min-width: 50px;
	text-indent: 5px;
	float: right;
}
.checkoutProductBody{
	border-bottom: 1px solid #eee;
}
.productBodyItem{
	min-height: 150px;
    position: relative;
    padding: 0 40px 0 20px;
    box-sizing: border-box;
}
.productBodyItemContent{
	width: 1095px;
    height: 150px;
    margin-left: 35px;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
} 
.productBodyItemContent:hover{
	background-color: #f2f2f2;
} 
.productBodyItemContent .checkBox{
	top: 50%;
	left: -35px;
	margin-top: -7px;
	position: absolute;
}
.checktoggle{
	background-image: url(../img/shoppingCar/shoppingCar_input_checkbox.png);
	background-position: -42px 0;
}
.productBodyItemContent .itemImg{
	width: 90px;
    height: 90px;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}
.productBodyItemContent img{
	width: 74px;
	height: 74px;
	display: block;
}
.itemInfo{
	width: 464px;
	color: #000;
	line-height: 12px;
	display: inline-block;
	vertical-align: top;
}
.itemInfo h5{
	font-size: 12px;
	margin-bottom: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
.itemInfo span{
	display: inline-block;
    padding-right: 12px;
    padding-bottom: 3px;
    position: relative;
    color: #666;
    margin: 0 0 10px;
    cursor: pointer;
    height: 16px;
    margin-top: 10px;
}
.itemInfoUnion1{
	width: 150px;
	vertical-align: top;
	display: inline-block;
}
.itemInfoUnion2{
	width: 176px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	margin-left: -12px;
	/*background: blue;*/
}
.itemInfoUnion2Module{
	width: 85px;
	margin: 0;
	/*background: red;*/
	height: 23px;
}
.itemInfoUnion2ModuleI{
	width: 21px;
    height: 21px;
    display: inline-block;
    line-height: 21px;
    text-align: center;
    border: 1px solid #eee;
    color: #474747;
    cursor: pointer;
    background-color: #fff;
    /*float: left;*/
}
.itemInfoUnion2Module .itemInfoUnion2ModuleI1{
	color: #bdbdbd;
}
.itemInfoUnion2ModuleNum{
	width: 37px;
    height: 21px;
    display: inline-block;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    text-align: center;
    color: #000;
    line-height: 21px;
}
.itemInfoUnion3{
	width: 144px;
	vertical-align: top;
	display: inline-block;
}
.itemInfoUnion4{
	width: 45px;
	vertical-align: top;
	display: inline-block;
}
.itemInfoUnion4 .delete{
	margin-left: 2px;
	width: 19px;
	height: 19px;
	display: block;
	cursor: pointer;
	background-image: url(../img/shoppingCar/shoppingBag_checkout_icon.png);
}
#checkoutCoupons{
	position: relative;
	margin-top: 35px;
	min-width: 1190px;
}
.CouponsInfoContentH{
	position: relative;
	font-size: 18px;
	color: #4b4b4b;
    font-weight: 400;
    margin-right: 200px;
}
.sp1{
	display: inline-block;
    font-size: 18px;
    padding-bottom: 9px;
    border-bottom: 2px solid #f5f5f5;
    cursor: pointer;
    color: #000;
    margin-left: 0;
}
.sp2{
	color: #9f9f9f;
    font-size: 12px;
    margin-left: 12px;
}
.sp3{
	color: #ef1d1e;
    font-size: 12px;
    cursor: pointer;
}  
.CouponsInfoContentH input{
	cursor: pointer;
	background-color: #000;
	border: 1px solid #000;
    color: #fff;
    float: right;
    position: relative;
    top: 8px;
    width: 95px;
    height: 20px;
    line-height: 17px;
} 
.CouponsInfoContentBody{
	min-height: 176px;
	background-color: #fefefe;
	margin-top: 18px;
}
.couponBody{
	margin: 0 auto;
    text-align: center;
    width: 130px;
    height: 64px;
    padding: 56px 0;
}
.couponNone{
	width: 46px;
	height: 30px;
	background-image: url(../img/shoppingCar/shopping_checkout_coupons.png);
	background-position: -20px 0;
	margin-left: 42px;
}
.couponBody span{
	margin-top: 16px;
	display: block;
	color: #a7a7a7;
	font-size: 14px;
}
#checkSubmit{
	margin-top: 50px;
	position: relative;
}
.checkSubmitInfo{
	height: 60px;
	background-color: #fff;
}
.checkSubmitInfoBooking{
	width: 1190px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    z-index: 1000;
    position: relative;
}
.checkSubmitInfoLeft{
	/*width: 347px;*/
	height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 20px 0;
    margin: 0 auto;
}
.checkSubmitInfoLeft .checkBox{
	top: 23px;
	left: 0;
	margin: 1px 20px 0;
	display: inline-block;
}
.allClick{
	margin-left: 53px;
	margin-right: 30px;
	display: inline-block;
}
.checkSubmitInfoLeft a{
	color: #474747;
	line-height: 20px;
	margin-right: 30px;
	cursor: pointer;
}
.allDelete{
	display: inline-block;
}
.split{
	display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #ccc;
    vertical-align: middle;
}
.callService{
	background-color: #eee;
    color: #000;
    border-radius: 100px;
    display: inline-block;
    width: 130px;
    height: 20px;
    line-height: 20px;
    text-indent: 8px;
    position: relative;
    margin-left: 30px;
    vertical-align: middle;
}
.callService:after{
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	position: absolute;
	top: 6px;
	right: 10px;
	background-image: url(../img/shoppingCar/shopping-phone.png);
	background-repeat: no-repeat;
}
.checkSubmitInfoRight{
	/*width: 385px;*/
	color: #858585;
}
.checkSubmitInfoRight ul{
	height: 60px;
    float: left;
    padding: 10px 0;
    box-sizing: border-box;
    /*background: red;*/
}
.checkSubmitInfoRight ul li{
	text-align: right;
	line-height: 16px;
}
.checkSubmitInfoRight ul li:nth-child(1){
	padding-bottom: 4px;
}
.rightSave{
	display: inline-block;
	margin-left: 20px;
}
.rightSave i{
	display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    background-image: url(../img/shoppingCar/checkout_first_minu.png);
}
.rightSubmit{
	width: 140px;
    height: 60px;
    background-color: #e00;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
}
#checkTab{
	margin-top: 93px;
	margin-bottom: 60px;
	position: relative;
}
.checkTabInfoContent{
	position: relative;
}
.checkTabHeader{
	display: inline-block;
    font-size: 18px;
    padding-bottom: 9px;
    border-bottom: 2px solid #f5f5f5;
    cursor: pointer;
}
.checkTabInfoContentBody{
	height: 306px;
    display: block;
    margin-top: 10px;
}
.longBox{
    width: 1190px;
    height: 308px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.longBoxContent{
	width: 3570px;
	height: 308px;
	display: inline-block;
	position: absolute;
	transition: left .5s;
	left: 0;
}
.longBoxContentLi{
	width: 198px;
    height: 268px;
    display: inline-block;
    padding: 20px;
    background: #fff;
}
.longBoxContentLiImg{
	width: 180px;
	height: 180px;
	margin: 0 auto;
}
.longBoxContentLiImg img{
	width: 180px;
	height: 180px;
}
.longBoxContentLiInfo{
	margin-top: 10px;
	line-height: 18px;
}
.infoTag{
	font-weight: bolder;
	margin-bottom: 5px;
}
.infoName{
	font-size: 14px;
    margin-bottom: 5px;
    width: 180px;
    /*overflow: hidden;*/
    display: inline-block;
}
.infoPrice{
	color: #000;
}
.checkBtn{
	position: absolute;
    right: 0;
    height: 30px;
    width: 101px;
    top: -6px;
    /*background: red;*/
}
.controlLeft,.controlRight{
	display: inline-block;
	width: 50px;
    height: 30px;
    cursor: pointer;
    background-image: url(../img/shoppingCar/shopping_control.png);
}
.controlLeft{
	margin-right: 1px;
	background-position: 0 0;
}
.controlRight{
	background-position: -50px -60px;
}
